# security
# deleted .keys/ since folder was empty
# not moving .env and .envrc into .keys/ to not break anything
.env
.envrc
.python-version

# folders
__pycache__/
build/
data/
solarsoundbytes.egg-info/
solarsoundbytes/api/__pycache__/
*data_test/
.streamlit/
website/.streamlit/

*.mp3

# chaching
*.pyc
*:Zone.Identifier

